*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}   

.header__inner{
    text-align: center;
    padding-top: 20px;
}

.header__inner h1{
    color: #718dd1;
    font-family: 'Oswald', sans-serif;
}

.header-bg{
    background-image: url('./img/pexels-photo-1166643.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center ;
    background-attachment: fixed;
}

#dntactvecs {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    margin-top: 100px;
  }

    
    #dntactvecs:hover {
        background: #718dd1;
        box-shadow: 0 15px 20px #718dd1;
        color: white;
        transform: translateY(-7px);
        cursor: pointer;
    }